@charset "UTF-8";
html {
	overflow-y: scroll; /* IEへの対応 http://www.htmq.com/style/overflow-y.shtml */
	/*Internet Explorerが独自に追加したプロパティ*/
	/*画面に収まりきれなかったときにスクロールして表示することを許可するか否か*/
}
/* リセットおまじない--------------------------------- */

body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}
body {
	background: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
}
li {
	list-style: none;
}
a {
	outline: none;
	color: inherit;
	text-decoration: none;
}
img {
	border: 0px;
	vertical-align: bottom;
}
/* --------------------------------------------------- */
body{
    background-color: rgb(248, 248, 248);
}

h1 {
    position: relative;
    padding: 5px 5px 5px 42px;
    background-color: darkslategray;
    font-size: 30px;
    color: white;
    line-height: 1.3;
    z-index:-1;
    width: 90%;
    text-align: left;
    margin-left: 1%;
}

h1:before {
    position: absolute;
    content: '';
    left: -2px;
    top: -2px;
    border: none;
    border-left: solid 40px white;
    border-bottom: solid 79px transparent;
    z-index:-2
}

.info{
    margin: 3%;
}

.info p{
    text-align: left;
    line-height: 50px;
}

img{
    width: 90%;
}

.info div{
    background: #fcfcfc;/*背景色*/
    padding: 0.5em 0.5em 0.5em 2em;/*ボックス内の余白*/
    border: solid 3px gray;/*線の種類 太さ 色*/
    margin-top: 1%;
}

.info div p{
    line-height: 1.5; /*文の行高*/
    padding: 0.5em 0; /*前後の文との余白*/
}

button{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: darkslategrey;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    position: fixed;
    bottom: 0;
    left: 0;
}
button:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

iframe{
    width:100%;
}