<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen and ( min-width:769px )" href="../static/css/style_pc.css">
    <link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="../static/css/style_sp.css">
    <script type="text/javascript" src="../static/js/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>
    <title>ぶらりえべつ</title>
</head>
<body>
<header></header>
{% block content %}
    {% endblock %}

    <footer></footer>
</body>
</html>