<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen and ( min-width:769px )" href="../static/css/style_pc.css">
    <link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="../static/css/style_sp.css">
    <script type="text/javascript" src="../static/js/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>

    <title>ぶらりと江別</title>
</head>
<body>
<header>
	<div class="header">
		<div class="header-logo">ぶらりと江別</div>
		<!-- <div class="header-list">
			<ul>
				<li><a href="#sec1">QUIZ</a></li>
				<li><a href="#sec2">list</a></li>

			</ul>
		</div> -->
	</div>


</header>

{% block content %}
	
{% endblock %}














    <footer>
        <div class="footer">
			<p class="copyright">Copyright &copy; 大麻13丁目 all rights reserved.</p>
		</div>

    </footer>
</body>
</html>