{% extends "base.html" %}
{% block content %}

<div id="navi_car" onclick="window.location.reload()">車で大麻</div>

<div>
    <div class="car">
        <div id="car_img1"></div>
        <div class="random_word">
            <h2 id="place_name1"></h2>
            <p id="words1"></p>
        </div>
    </div>
    <div class="car">
        <div id="car_img2"></div>
            <div class="random_word">
            <h2 id="place_name2"></h2>
            <p id="words2"></p>
        </div>
    </div>
    <div class="car">
        <div id="car_img3"></div>
        <div class="random_word">
            <h2 id="place_name3"></h2>
            <p id="words3"></p>
        </div>
        
    </div>
</div> 







{% endblock %}