{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/details.css" media="screen and (min-width:480px)">
<link rel="stylesheet" href="../static/css/details_sp.css" media="screen and (max-width:480px)">
<h1>夢工房トンデンファーム</h1>
<div class="info">
    <img src="../static/img_spot/earthdream.jpg" alt="">
    <div>
        <p>住所：北海道江別市角山５８４−１</p>
        <p>お問い合わせ：<a href="tel:">011-391-2500</a></p>
        <p>営業時間：<img src="../static/img_spot/earthdream_time.png" alt=""></p>
        <p>アクセス：札幌駅から車で33分</p>
        <p>公式HP：<a href="http://www.tondenfarm.co.jp/earth-dream-kakuyama">アクセス | 夢工房トンデンファーム</a></p>
    </div>
</div>
<p id="explanation">札幌のお隣、江別市にある2015年に新しくオープンしたアースドリーム角山農場。大自然の中で様々な動物達とのふれあいが楽しめる体験型牧場です。「動物ふれあい・アドベンチャーエリア」は小学生以上入場料300円。（※2020年2月22日より400円）当日は何度も出入りできるので、心ゆくまでキュートな動物達との時間を堪能できますよ。</p>
<button type="button" onclick="location.pathname='/list'">紹介されている店・施設の一覧に戻る</button>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2911.4460588045367!2d141.45815341571085!3d43.13716169366303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b2fd415454ddb%3A0xae4a8ddf66ced8f7!2z44Ki44O844K544OJ44Oq44O844Og6KeS5bGx6L6y5aC0!5e0!3m2!1sja!2sjp!4v1592745473320!5m2!1sja!2sjp" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

{% endblock %}