{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/details.css" media="screen and (min-width:480px)">
<link rel="stylesheet" href="../static/css/details_sp.css" media="screen and (max-width:480px)">
<h1>江別 蔦屋書店</h1>
<div class="info">
    <img src="../static/img_spot/ebetsu_tutaya.jpg" alt="">
    <div>
        <p>住所：北海道江別市牧場町１４−１</p>
        <p>お問い合わせ：<a href="tel:">011-375-6688</a></p>
        <p>営業時間：8時～23時(ショップごとの営業時間については<a href="https://ebetsu-t.com/floor-guide/shop-list/">こちら</a></p>
        <p>アクセス：</p>
        <li>車：江別西ICから8分 5.5km</li>
        <li>徒歩：中央バス「元町」「若草町」バス停より徒歩5分</li>
        <p>公式HP：<img src="../static/img/linkicon.jpeg" alt="" id="linkicon"><a href="https://ebetsu-t.com/">江別 蔦屋書店</a></p>
    </div>
</div>
<p id="explanation">注目すべきは蔦屋書店のほかに飲食店が13店と雑貨店等が4店あり、ここで1日ゆっくり過ごせる充実度！店内はWi-Fi完備でおいしいコーヒーを飲みながら本をゆっくり読めるだけでなく、欲しかったモノをここで見つけたり、親子で休日を楽しんだり。江別市民を中心とした北海道民の皆さんの生活をワンランクアップさせてくれる素敵な空間になっています。</p>
<button type="button" onclick="onclick=location.href='./list.html'">紹介されている店・施設の一覧に戻る</button>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2912.4995422663224!2d141.53758475144699!3d43.11503119497786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b321861490859%3A0x345e59898e97d49e!2z5rGf5YilIOiUpuWxi-abuOW6lw!5e0!3m2!1sja!2sjp!4v1592746015049!5m2!1sja!2sjp" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


{% endblock %}