{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/details.css" media="screen and (min-width:480px)">
<link rel="stylesheet" href="../static/css/details_sp.css" media="screen and (max-width:480px)">
<h1>えぽあホール</h1>
<div class="info">
    <img src="../static/img_spot/epoa.jpg" alt="">
    <div>
        <p>住所：北海道江別市大麻中町２６−７</p>
        <p>お問い合わせ：<a href="tel:">011-387-3120</a></p>
        <p>営業時間：午前９時から午後９時まで</p>
        <p>休館日：休館日 毎週月曜日、１２月２９日～１月３日</p>
        <p>アクセス：</p>
        <li>徒歩：大麻駅より3分</li>
        <li>車：駐車台数～７８台  身障者用～３台</li>
        <p>公式HP：<a href="https://www.e-s-kousya.com/">江別市公民館/えぽあホール/江別市コミュニティセンター: トップページ</a></p>
    </div>
</div>
<p></p>
<button type="button" onclick="onclick=location.href='./list.html'">紹介されている店・施設の一覧に戻る</button>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2914.433016511775!2d141.49176831534658!3d43.07439097914541!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b2db28e4a460b%3A0x6943040bbfa6a210!2z5rGf5Yil5biC44GI44G944GC44Ob44O844Or!5e0!3m2!1sja!2sjp!4v1592821019947!5m2!1sja!2sjp" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


{% endblock %}