{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/details.css" media="screen and (min-width:480px)">
<link rel="stylesheet" href="../static/css/details_sp.css" media="screen and (max-width:480px)">
<h1>ガラス工芸館</h1>
<div class="info">
    <img src="../static/img_spot/garasu_kougeikan.jpg" alt="">
    <div>
        <p>住所：北海道江別市野幌代々木町５３−1番地</p>
        <p>お問い合わせ：<a href="tel:">011-384-7620</a></p>
        <div>
            <p>営業時間：</p>
            <li>休館：11月～4月</li>
            <li>開館：日土祝 5月～10月 10:00～17:00</li>
        </div>
        <p>アクセス：JR野幌駅から徒歩15分。駐車場有。</p>
        <p>公式HP：<img src="../static/img/linkicon.jpeg" alt="" id="linkicon"><a href="https://www.kakizaki45.com/contact">柿崎均 ガラス工房｜45工房 | ガラス作家 柿崎均のガラス工房「45 ...</a></p>
    </div>
</div>
<p id="explanation">江別のれんが建造物の象徴として「旧石田邸」（昭和20（1945）年頃築）を保存・改修し、平成6年4月に開館しました。内部はガラス工芸家 柿崎均さんの工房として活用されており、制作風景や作品を見ることができるほか、吹きガラス体験も受け付けています。旧石田邸は、昭和20(1945)年頃北海煉瓦杜員だった石田惣喜知氏が建てたれんが造り三階建て107坪(約354㎡)の住宅で、 将棋の駒の形をしたマンサード屋根と半円状に張り出した窓が特徴です。 絵画や写真の題材になるなど市民の間で広く知れ渡り親しみを持たれていました。</p>
<button type="button" onclick="location.href='./list.html'">紹介されている店・施設の一覧に戻る</button>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2913.389037619956!2d141.52031691534734!3d43.096338479144315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b2df35bf18475%3A0x3db9837aff0f6c3c!2z5rGf5Yil5biCIOOCrOODqeOCueW3peiKuOmkqA!5e0!3m2!1sja!2sjp!4v1592825081293!5m2!1sja!2sjp" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>



{% endblock %}