{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/details.css" media="screen and (min-width:480px)">
<link rel="stylesheet" href="../static/css/details_sp.css" media="screen and (max-width:480px)">
<h1>銀座商店街</h1>
<div class="info">
    <img src="../static/img_spot/ginza_shoppingstreet.jpg" alt="">
    <div>
        <p>住所：北海道江別市大麻東町１３</p>
        <p>お問い合わせ：利用する各店舗にお問い合わせください。</p>
        <p>営業時間：利用する各店舗による</p>
        <div>
            <p>アクセス：</p>
            <li>電車：JR大麻駅（駅から14分）</li>
            <li>お車：トライアル江別大麻店 駐車場（商店街利用者の方は駐車できます）</li>
            <li>バス：大麻13丁目（バス停から徒歩1分）</li>
        </div>
        <p>公式HP：※利用する各店舗にお問い合わせください。</p>
    </div>
</div>
<p id="explanation">大麻銀座商店街は、大麻団地の発展と共に歩んできました。約50年の歴史があり、昔ながらの雰囲気があるレトロな商店街です。大麻銀座商店街の中には、たくさんの老舗店が並びます。</p>
<button type="button" onclick="location.href='./list.html'">紹介されている店・施設の一覧に戻る</button>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46626.96081207802!2d141.4636246505289!3d43.07960476109758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbec705bb6a9f95ff!2z44OH44Kj44K544Kr44Km44Oz44OI44K544OI44Ki44OI44Op44Kk44Ki44Or5rGf5Yil5aSn6bq75bqX!5e0!3m2!1sja!2sjp!4v1592825880371!5m2!1sja!2sjp" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


{% endblock %}