{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/details.css" media="screen and (min-width:480px)">
<link rel="stylesheet" href="../static/css/details_sp.css" media="screen and (max-width:480px)">]
<h1>宝来軒菓子舗</h1>
<div class="info">
    <img src="../static/img_spot/houraiken.jpg" alt="">
    <div>
        <p>住所：北海道江別市大麻東町１３−１２</p>
        <p>お問い合わせ：<a href="tel:">011-386-8711</a></p>
        <p>営業時間：9:00～19:00 日曜営業</p>
        <p>アクセス：</p>
        <p>電車：JR大麻駅（駅から14分）</p>
        <p>お車：トライアル江別大麻店 駐車場（商店街利用者の方は駐車できます）</p>
        <p>バス：大麻13丁目（バス停から徒歩1分）</p>
        <p>公式HP：なし</p>
    </div>
</div>
<p id="explanation">お店を始めてすでに40年以上、朝から仕込む餅や団子類が好評です。季節に応じて和菓子の種類も、節句には桜餅やべこ餅、夏になれば水羊羹などを販売しています。その中でも、12月～6月迄の期間限定いちご大福は大人気です。</p>
<button type="button" onclick="onclick=location.href='./list.html'">紹介されている店・施設の一覧に戻る</button>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d93235.60046789693!2d141.32578071779645!3d43.091641092753875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b2db0b891c929%3A0xcba15b642ec23c92!2z44iy5a6d5p2l6LuS6I-T5a2Q6IiX!5e0!3m2!1sja!2sjp!4v1592826755742!5m2!1sja!2sjp" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


{% endblock %}