{% extends "base.html" %}
{% block content %}

<body>

	<div class="shoukai">
		<div class="box">
			<h1>北海道江別市大麻地区</h1>
			<p>SUNABACO… 聞いたことある？<br>
				誰もがチャレンジできる場所<br>
				子供も大人も学べる場所<br>
				カレーが無料で食べれる場所（学生）<br>
				そんな江別をぶらりと楽しみたくなる<br>
				サイトを作りました</p>
		</div>
	</div>
	<div class="container">
		<div class="box_1">
			<h2>徒歩で大麻</h2>
			<p>JR札幌駅から約20分。大麻駅から歩いて楽しめるスポットを紹介します。
				<br> <br>
			</p>
			<a href="/walk_ebetsu" class="btn-sticky">さがす</a>
		</div>
		<div class="box_2">
			<h2>車で大麻</h2>
			<p>江別西ICから約７分<br>ドライブスポットを探そう！
			</p>
			<a href="/car_ebetsu" class="btn-sticky">さがす</a>
		</div>
	</div>
	<div class="box_3">
		<h2>クイズ</h2>
		<p>江別・大麻に興味を持ったあなたへ♪<br>
			クイズで腕試ししてみませんか？<br>
			<br>
		</p>
		<a href="#" class="btn-sticky2">挑戦</a>
	</div>




</body>




{% endblock %}