{% extends "base.html" %}
{% block content %}

<body>

	<!-- <div class="shoukai"> -->
		<div class="box_1">
			<h2>江別であそぼう</h2>
			<p>江別・大麻で楽しめる場所を<br>紹介します。
				</p>
				<a href="/list" class="btn-sticky">一覧リストみる</a>

		</div>
	<!-- </div> -->
	<div class="container">
		<div class="box_2">
			<h2>徒歩で大麻</h2>
			<p>JR札幌駅から約20分。<br>大麻駅から歩いて楽しめるスポットを紹介します。
			
			</p>
			<a href="/wark_ebetsu" class="btn-sticky">さがす</a>
		</div>
		<div class="box_3">
			<h2>車で大麻</h2>
			<p>江別西ICから約７分<br>ドライブスポットを探そう！
			</p>
			<a href="/car_ebetsu" class="btn-sticky">さがす</a>
		</div>
	</div>
	
	<div class="box_4">
		<h2>クイズ</h2>
		<p>江別・大麻に興味を持ったあなたへ♪<br>
			クイズで腕試ししてみませんか？<br>
		</p>
		<a href="/quiz_page" class="btn-sticky2">挑戦</a>
</div>



</body>




{% endblock %}