{% extends "base.html" %}
{% block content %}

<!-- <header>
		<div class="hum_menu">
			<a href="javascript:void(0);">
				<span></span>
				<span></span>

				<span></span>
			</a>
		</div>
		<ul>
			<li><a href="#sec1">ログイン</a></li>
			<li><a href="#sec2">新規登録</a></li>
			
		</ul>
	</header> -->

<!-- <div class="header">
	<div class="header-logo">Burari to Ebetsu</div>
	<div class="header-list">
		<ul>
			<li><a href="#sec1">QUIZ</a></li>
			<li><a href="#sec2">list</a></li>

		</ul>
	</div>
</div>

<div class="shoukai">
	<div class="box">
		<h1>紹介と概要</h1>
		<p>このサイトは、週末どこに行こうか迷える子羊を救います。<br>
			徒歩でも車でも散策先を探します。<br>
			クイズで江別を知ってもらいながら、
			行きたい場所を探せます。</p>
	</div>
</div>
<div class="container">
	<div class="box_1">
		<h2>徒歩で大麻</h2>
		<p>JR札幌駅から約20分。大麻駅から歩いて楽しめるスポットを紹介します。
			<br> <br>
		</p>
		<a href="#" class="btn-sticky">さがす</a>
	</div>
	<div class="box_2">
		<h2>車で大麻</h2>
		<p>江別西ICから約７分<br>ドライブスポットを探そう！
		</p>
		<a href="#" class="btn-sticky">さがす</a>
	</div>
</div>




<div class="footer">
	<p class="copyright">Copyright &copy; 大麻13丁目 all rights reserved.</p>
</div> -->






<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<meta name="keywords" content="サイトをキーワードで説明">
	<meta name="description" content="どんなサイトかを短い文章で説明">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
	<link rel="icon" href="./test/favicon.ico">

	<link rel="stylesheet" href="/static/css/style_sp.css" type="text/css">
	<script type="text/javascript" src="/exercises/reference exercises/3common.js"></script>

	<title>ぶらり</title>
</head>

<body>
	<!-- <header>
		<div class="hum_menu">
			<a href="javascript:void(0);">
				<span></span>
				<span></span>

				<span></span>
			</a>
		</div>
		<ul>
			<li><a href="#sec1">ログイン</a></li>
			<li><a href="#sec2">新規登録</a></li>
			
		</ul>
	</header> -->

	<div class="header">
		<div class="header-logo">ぶらりと江別</div>
		<div class="header-list">
			<!-- <ul>
				<li><a href="#sec1">QUIZ</a></li>
				<li><a href="#sec2">list</a></li>

			</ul> -->
		</div>
	</div>

	<div class="shoukai">
		<div class="box">
			<h1>北海道江別市大麻地区</h1>
			<p>SUNABACO… 聞いたことある？<br>
				誰もがチャレンジできる場所<br>
				子供も大人も学べる場所<br>
				カレーが無料で食べれる場所（学生）<br>
				そんな江別をぶらりと楽しみたくなる<br>
				サイトを作りました</p>
		</div>
	</div>
	<div class="container">
		<div class="box_1">
			<h2>徒歩で大麻</h2>
			<p>JR札幌駅から約20分。大麻駅から歩いて楽しめるスポットを紹介します。
				<br>       <br>
			</p>
			<a href="#" class="btn-sticky">さがす</a>


		</div>
		<div class="box_2">
			<h2>車で大麻</h2>
			<p>江別西ICから約７分<br>ドライブスポットを探そう！
			</p>
			<a href="#" class="btn-sticky">さがす</a>
		</div>
	</div>
	<div class="box_3">
		<h2>クイズ</h2>
		<p>江別・大麻に興味を持ったあなたへ♪<br>
			クイズで腕試ししてみませんか？<br>
	
		<br>
		 
		</p>
		<a href="#" class="btn-sticky2">挑戦</a>
	</div>
	


	<div class="footer">
		<p class="copyright">Copyright &copy; 大麻13丁目 all rights reserved.</p>
	</div>

</body>

</html>



{% endblock %}