{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/list.css" media="screen and (min-width:480px)">
<link rel="stylesheet" href="../static/css/list_sp.css" media="screen and (max-width:480px)">
<h1>紹介されている店・施設の一覧</h1>
<div class="box30">
    <div class="box-title">NOTE</div>
    <p>店・施設の名前をクリックすると詳細を見ることができます。</p>
</div>
<div class="container">
    <div class="content">
        <h2>徒歩で探す</h2>
        <div>
            <li><a href="/currypandora">カレーパンドラ 江別店</a></li>
            <li><a href="/sunabacoebetsu">SUNSBSCO EBETSU(江別)</a></li>
            <li><a href="/houraiken">宝来軒菓子舗</a></li>
            <li><a href="/ruelle">パティスリー リュエル(Pâtisserie Ruelle)</a></li>
            <li><a href="/ginza_shoppingstreet">大麻銀座商店街</a></li>
            <li><a href="/sizentamago">自然卵のクレープ</a></li>
            <li><a href="/motiya">もち屋</a></li>
            <li><a href="/santa">サンタクリーム / ㈲山下館</a></li>
            <li><a href="/epoa">えぽあホール</a></li>
            <li><a href="/rakunou">酪農学園大学(牛舎前)</a></li>
            <li><a href="/oasa_shrine">大麻神社</a></li>
            <li><a href="/donguri">どんぐりばし</a></li>
            <li><a href="/douritu_library">北海道立図書館</a></li>
        </div>
    </div>
    <div class="content">
        <h2>車で探す</h2>
        <div>
            <li><a href="/currypandora">カレーパンドラ 江別店</a></li>
            <li><a href="/sunabacoebetsu">sunabaco ebetsu</a></li>
            <li><a href="/houraiken">宝来軒菓子舗</a></li>
            <li><a href="/ruelle">パティスリー リュエル (Pâtisserie Ruelle)</a></li>
            <li><a href="/ginza_shoppingstreet">大麻銀座商店街</a></li>
            <li><a href="/ebri">EBRI (エブリ)</a></li>
            <li><a href="/ebetsu_tutaya">江別 蔦屋書店</a></li>
            <li><a href="/hokkaido_museum">北海道博物館</a></li>
            <li><a href="/tondenfarm">トンデンファーム</a></li>
            <li><a href="/earthdream">角山アースドリーム</a></li>
            <li><a href="/kaitakunomura">北海道開拓の村</a></li>
            <li><a href="/yumetikara">ゆめちからテラス</a></li>
            <li><a href="/sinrinkouen">野幌森林公園</a></li>
            <li><a href="/fureai">自然ふれあい交流館</a></li>
            <li><a href="/maizou">北海道埋蔵文化財センター</a></li>
            <li><a href="/centennial_monument">北海道百年記念塔</a></li>
            <li><a href="/ceramicartcenter">江別市セラミックアートセンター</a></li>
            <li><a href="/matimura_farm">町村農場</a></li>
            <li><a href="/oldmatimura_farm">旧町村農場</a></li>
            <li><a href="/senkoen">千古園</a></li>
            <li><a href="/yukawa_park.html">湯川公園</a></li>
            <li><a href="/nisikiyama">錦山天満宮</a></li>
            <li><a href="/garasu_kougeikan">江別市ガラス工芸館</a></li>
        </div>
    </div>
</div>
{% endblock %}