{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/list.css" media="screen and (min-width:480px)">
<link rel="stylesheet" href="../static/css/list_sp.css" media="screen and (max-width:480px)">
<h1>紹介されている店・施設の一覧</h1>
<div class="box30">
    <div class="box-title">NOTE</div>
    <p>店・施設の名前をクリックすると詳細を見ることができます。</p>
</div>
<div class="container">
    <div class="content">
        <h2>徒歩で探す</h2>
        <div>
            <li><a href="./currypandora.html">カレーパンドラ 江別店</a></li>
            <li><a href="./sunabacoebetsu.html">SUNSBSCO EBETSU(江別)</a></li>
            <li><a href="./houraiken.html">宝来軒菓子舗</a></li>
            <li><a href="./ruelle.html">パティスリー リュエル(Pâtisserie Ruelle)</a></li>
            <li><a href="./ginza_shoppingstreet.html">大麻銀座商店街</a></li>
            <li><a href="./sizentamago.html">自然卵のクレープ</a></li>
            <li><a href="./motiya.html">もち屋</a></li>
            <li><a href="./santa.html">サンタクリーム / ㈲山下館</a></li>
            <li><a href="./epoa.html">えぽあホール</a></li>
            <li><a href="./rakunou.html">酪農学園大学(牛舎前)</a></li>
            <li><a href="./oasa_shrine.html">大麻神社</a></li>
            <li><a href="./donguri.html">どんぐりばし</a></li>
            <li><a href="./douritu_library.html">北海道立図書館</a></li>
        </div>
    </div>
    <div class="content">
        <h2>車で探す</h2>
        <div>
            <li><a href="./currypandora.html">カレーパンドラ 江別店</a></li>
            <li><a href="./sunabacoebetsu.html">sunabaco ebetsu</a></li>
            <li><a href="./houraiken.html">宝来軒菓子舗</a></li>
            <li><a href="./ruelle.html">パティスリー リュエル (Pâtisserie Ruelle)</a></li>
            <li><a href="./ginza_shoppingstreet.html">大麻銀座商店街</a></li>
            <li><a href="./ebri.html">EBRI (エブリ)</a></li>
            <li><a href="./ebetsu_tutaya.html">江別 蔦屋書店</a></li>
            <li><a href="./hokkaido_museum.html">北海道博物館</a></li>
            <li><a href="./tondenfarm.html">トンデンファーム</a></li>
            <li><a href="./earthdream.html">角山アースドリーム</a></li>
            <li><a href="./kaitakunomura.html">北海道開拓の村</a></li>
            <li><a href="./yumetikara.html">ゆめちからテラス</a></li>
            <li><a href="./sinrinkouen.html">野幌森林公園</a></li>
            <li><a href="./fureai.html">自然ふれあい交流館</a></li>
            <li><a href="./maizou.html">北海道埋蔵文化財センター</a></li>
            <li><a href="./centennial_monument.html">北海道百年記念塔</a></li>
            <li><a href="./ceramicartcenter.html">江別市セラミックアートセンター</a></li>
            <li><a href="./matimura_farm.html">町村農場</a></li>
            <li><a href="./oldmatimura_farm.html">旧町村農場</a></li>
            <li><a href="./senkoen.html">千古園</a></li>
            <li><a href="./yukawa_park.html">湯川公園</a></li>
            <li><a href="./nisikiyama.html">錦山天満宮</a></li>
            <li><a href="./garasu_kougeikan.html">江別市ガラス工芸館</a></li>
        </div>
    </div>
</div>
{% endblock %}