{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/list.css" media="screen and (min-width:768px)">
<link rel="stylesheet" href="../static/css/list_sp.css" media="screen and (max-width:768px)">
<h1>紹介されている店・施設の一覧</h1>
<div class="box30">
    <div class="box-title">NOTE</div>
    <p>店・施設の名前をクリックすると詳細を見ることができます。</p>
</div>
<div class="box_list">
    <div class="content_list">
        <h2>徒歩で探す</h2>
        <div>
            <a href="/currypandora"><li>カレーパンドラ 江別店</li></a>
            <a href="/sunabacoebetsu"><li>SUNABCO EBETSU(江別)</li></a>
            <a href="/houraiken"><li>宝来軒菓子舗</li></a>
            <a href="/ruelle"><li>パティスリー リュエル(Pâtisserie Ruelle)</li></a>
            <a href="/ginza_shoppingstreet"><li>大麻銀座商店街</li></a>
            <a href="/sizentamago"><li>自然卵のクレープ</li></a>
            <a href="/motiya"><li>もち屋</li></a>
            <a href="/santa"><li>サンタクリーム / ㈲山下館</li></a>
            <a href="/epoa"><li>えぽあホール</li></a>
            <a href="/rakunou"><li>酪農学園大学(牛舎前)</li></a>
            <a href="/oasa_shrine"><li>大麻神社</li></a>
            <a href="/donguri"><li>どんぐりばし</li></a>
            <a href="/douritu_library"><li>北海道立図書館</li></a>
        </div>
    </div>
    <div class="content_list">
        <h2>車で探す</h2>
        <div>
            <a href="/currypandora"><li>カレーパンドラ 江別店</li></a>
            <a href="/sunabacoebetsu"><li>sunabaco ebetsu(江別)</li></a>
            <a href="/houraiken"><li>宝来軒菓子舗</li></a>
            <a href="/ruelle"><li>パティスリー リュエル (Pâtisserie Ruelle)</li></a>
            <a href="/ginza_shoppingstreet"><li>大麻銀座商店街</li></a>
            <a href="/ebri"><li>EBRI (エブリ)</li></a>
            <a href="/ebetsu_tutaya"><li>江別 蔦屋書店</li></a>
            <a href="/hokkaido_museum"><li>北海道博物館</li></a>
            <a href="/tondenfarm"><li>トンデンファーム</li></a>
            <a href="/earthdream"><li>角山アースドリーム</li></a>
            <a href="/kaitakunomura"><li>北海道開拓の村</li></a>
            <a href="/yumetikara"><li>ゆめちからテラス</li></a>
            <a href="/sinrinkouen"><li>野幌森林公園</li></a>
            <a href="/fureai"><li>自然ふれあい交流館</li></a>
            <a href="/maizou"><li>北海道埋蔵文化財センター</li></a>
            <a href="/centennial_monument"><li>北海道百年記念塔</li></a>
            <a href="/ceramicartcenter"><li>江別市セラミックアートセンター</li></a>
            <a href="/matimura_farm"><li>町村農場</li></a>
            <a href="/oldmatimura_farm"><li>旧町村農場</li></a>
            <a href="/senkoen"><li>千古園</li></a>
            <a href="/yukawa_park"><li>湯川公園</li></a>
            <a href="/nisikiyama"><li>錦山天満宮</li></a>
            <a href="/garasu_kougeikan"><li>江別市ガラス工芸館</li></a>
        </div>
    </div>
</div>
{% endblock %}