{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/details.css" media="screen and (min-width:480px)">
<link rel="stylesheet" href="../static/css/details_sp.css" media="screen and (max-width:480px)">
<h1>町村農場</h1>
<div class="info">
    <img src="../static/img_spot/matimura_farm.jpg" alt="">
    <div>
        <p>住所：北海道江別市篠津１８３</p>
        <p>お問い合わせ：<a href="tel:">011-375-1920</a></p>
        <div>
            <p>営業時間：</p>
            <li>【月～金】9：30 ～ 17：30(L.O. 17：00)</li>
            <li>【冬季 11月〜3月】10：00～17：00(L.O. 16：30)</li>
        </div>
        <p>アクセス：札幌駅から車で30分</p>
        <p>公式HP：<img src="../static/img/linkicon.jpeg" alt="" id="linkicon"><a href="http://machimura.mimoza.jp/shop/">町村農場 公式直営店サイト</a></p>
    </div>
</div>
<p id="explanation">まちむら農場は、北海道江別市にある乳業メーカー株式会社町村農場が用いる、牛乳やソフトクリームなど乳製品のブランド名。 製品は農場直売所のほか、札幌市にある直営販売店や全国のデパートなどでも購入可能。 江別市の旧農場跡は、資料館「旧町村農場」として公開されている。</p>
<button type="button" onclick="location.pathname='/list'">紹介されている店・施設の一覧に戻る</button>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d93217.81799907985!2d141.36325251821668!3d43.10332094217501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b31a34233ce05%3A0xc3e4bc35b0187a80!2z55S65p2R6L6y5aC0IOODn-ODq-OCr-OCrOODvOODh-ODsw!5e0!3m2!1sja!2sjp!4v1592827660640!5m2!1sja!2sjp" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframeh2


{% endblock %}