{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/details.css" media="screen and (min-width:480px)">
<link rel="stylesheet" href="../static/css/details_sp.css" media="screen and (max-width:480px)">
<h1>もち屋</h1>
<div class="info">
    <img src="../static/img_spot/motiya.jpg" alt="">
    <div>
        <p>住所：北海道江別市文京台東町１１−１</p>
        <p>お問い合わせ：090-5987-6184</p>
        <p>営業時間：[月曜]11:00~17:00 [火~土曜日]10:00~17:00 ※日曜定休</p>
        <p>アクセス：大麻駅より徒歩2分</p>
        <p>公式HP：なし</p>
    </div>
</div>
<p id="explanation">大麻駅付近でひっそりと営まれているもち屋。豆大福・胡麻大福・パイン大福等何種類かの大福のほか水羊羹といった和菓子が陳列されている。</p>
<button type="button" onclick="location.pathname='/list'">紹介されている店・施設の一覧に戻る</button>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2914.5566198401725!2d141.4952046653465!3d43.071791879145465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b2dacc3b54f79%3A0xddffefb4dc19cd95!2z44KC44Gh5bGL!5e0!3m2!1sja!2sjp!4v1592827931581!5m2!1sja!2sjp" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


{% endblock %}