{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/details.css" media="screen and (min-width:480px)">
<link rel="stylesheet" href="../static/css/details_sp.css" media="screen and (max-width:480px)">
<h1>錦山天満宮</h1>
<div class="info">
    <img src="../static/img_spot/nisikiyama.jpg" alt="">
    <div>
        <p>住所：北海道江別市野幌代々木町３８−１</p>
        <p>お問い合わせ：<a href="tel:">011-383-2467</a></p>
        <p>営業時間：なし</p>
        <div>
            <p>アクセス：</p>
            <li>ＪＲ野幌駅より、徒歩８分。札幌から快速で、２０分！</li>
            <li>道央自動車道、江別西インターより５分</li>
            <li>駐車場完備（８丁目通り側から入ります）</li>
        </div>
        <p>公式HP：<a href="http://www.nishikiyama.or.jp/">錦山天満宮</a></p>
    </div>
</div>
<p>明治18年、翌19年、九州各県・山口・広島・岡山・鳥取の各県から野幌屯田兵の入植により原始の密林を開拓し、入植者の「心のよりどころ」として明治22年伊勢皇大神宮から御分霊を奉斎したのが始まりである。昭和62年には御鎮座百年を迎えた。創祀当時は「錦山神社」として野幌地域の鎮守、五穀豊穣の神として崇拝されていた。昭和48年、九州太宰府天満宮から菅原道眞公の御分霊を奉戴し、錦山天満宮と改名して以来「天神さま」の御神徳を仰ぎ今日に至る。平成2年には、太宰府天満宮より御神納の梅の苗木を賜り、境内には梅園が造成された。また、受験シーズンになると、近くの中学・高校生を始め道内各地の受験生が合格祈願に訪れる。</p>
<button type="button" onclick="onclick=location.href='./list.html'">紹介されている店・施設の一覧に戻る</button>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2913.3850744662404!2d141.5177052153473!3d43.096421779144244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b2df30fbb02d3%3A0xbbee66da7a5cd0b8!2z6Yym5bGx5aSp5rqA5a6u!5e0!3m2!1sja!2sjp!4v1592828433116!5m2!1sja!2sjp" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframeh2


{% endblock %}