{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/details.css" media="screen and (min-width:480px)">
<link rel="stylesheet" href="../static/css/details_sp.css" media="screen and (max-width:480px)">
<h1>大麻神社</h1>
<div class="info">
    <img src="../static/img_spot/oasa_shrine.jpg" alt="">
    <div>
        <p>住所： 北海道江別市大麻宮町３−２</p>
        <p>お問い合わせ：<a href="tel:">011-386-2280</a></p>
        <p>営業時間：なし</p>
        <p>アクセス：JR大麻駅下車徒歩10分</p>
        <p>公式HP：<img src="../static/img/linkicon.jpeg" alt="" id="linkicon"><a href="http://hokkaidojinjacho.jp/%E5%A4%A7%E9%BA%BB%E7%A5%9E%E7%A4%BE/">大麻神社 - 北海道神社庁のホームページ</a></p>
    </div>
</div>
<p id="explanation">明治33年麻畑(現在の江別市大麻の一部)に最初に入植した福屋角助が大麻の小高い丘に「八百萬神」と記した角柱を建て祭りを行っている。同年、大曲の平本与三吉の宅地にも小祠を建立し祭祀し、続いて明石石之助も小祠を建立し「十二錦山神社」として開拓者の寄りどころとした。この3つの神社に、大正8年他地区にもあった小祠2柱を合祀し、現在の位置に本殿拝殿を御造営し社名を大麻神社と呼称し、この5柱神を「開拓祖神」として今日まで崇められている。</p>
<button type="button" onclick="location.href='./list.html'">紹介されている店・施設の一覧に戻る</button>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2914.2940358561254!2d141.4881540153466!3d43.077313279145244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b2db37e3bdd75%3A0xf5ece67a4a2ff0bf!2z5aSn6bq756We56S-!5e0!3m2!1sja!2sjp!4v1592828678382!5m2!1sja!2sjp" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


{% endblock %}