{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/details.css" media="screen and (min-width:480px)">
<link rel="stylesheet" href="../static/css/details_sp.css" media="screen and (max-width:480px)">
<h1>旧町村農場</h1>
<div class="info">
    <img src="../static/img_spot/oldmatimura_farm.jpg" alt="">
    <div>
        <p>住所：北海道江別市いずみ野２５</p>
        <p>お問い合わせ：</p>
        <div>   
            <p>営業時間</p>
            <li>公開期間   4月29日～11月23日(公開期間中は原則休館日なし)</li>
            <li>公開時間   10:00～17:00</li>
            <li>休館日   11月24日～4月28日</li>
        </div>
        <div>
            <p>アクセス</p>
            <div>
                <li>JR江別駅前から中央バス 江別新さっぽろ線</li>
                <p>「新さっぽろ駅」行き「第3中学校」(6分)下車、徒歩2分</p>
            </div>
            <div>
                <li>JR野幌駅北口から中央バス 野幌見晴台線</li>
                <p>「野幌駅北口」行き「牧場町東」(B路線14分・D路線18分)下車、徒歩1分</p>
            </div>
        </div>
        <p>公式HP：<img src="../static/img/linkicon.jpeg" alt="" id="linkicon"><a href="https://old-machimura.jimdo.com/">公式サイト - 江別市旧町村農場</a></p>
    </div>
</div>
<p id="explanation">移転した農場跡地の住宅、牛舎、製酪室を保存・改修し、酪農に関する資料や農機具などを展示しています。</p>
<button type="button" onclick="location.href='./list.html'">紹介されている店・施設の一覧に戻る</button>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2912.4754701520455!2d141.53299331534797!3d43.11553697914345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b32192ec2ab09%3A0x4660e4d4255c8a71!2z5rGf5Yil5biC5pen55S65p2R6L6y5aC0!5e0!3m2!1sja!2sjp!4v1592829143470!5m2!1sja!2sjp" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframeh2


{% endblock %}