{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="quiz_area">
    <div class="quiz_set">
        第<span class="quiz_no">0</span>問
        <div class="quiz_question"></div>
        <div class="img_area"></div>
        <div class="quiz_ans_area">
            <ul></ul>
        </div>
        <div class="quiz_area_bg"></div>
        <div class="quiz_area_icon"></div>
        

    </div>
    <div id="quiz_result"> 
    
    </div>

    <div  class="tw"><a id="twitter_button" class="btn"><i class="fa fa-twitter"></i><span>この結果をツイート♪</span></a></div>

</div>
<br>
{% endblock %}