{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/details.css" media="screen and (min-width:480px)">
<link rel="stylesheet" href="../static/css/details_sp.css" media="screen and (max-width:480px)">
<h1>酪農学園大学 牛舎前</h1>
<div class="info">
    <img src="../static/img_spot/rakunou.jpg" alt="">
    <div>
        <p>住所：北海道江別市文京台緑町582番地</p>
        <p>お問い合わせ：<a href="tel:">011-386-1111</a></p>
        <p>営業時間：なし</p>
        <p>アクセス：大麻駅より [徒歩]8分 [車]2分</p>
        <p>公式HP：<img src="../static/img/linkicon.jpeg" alt="" id="linkicon"><a href="http://www.rakuno.ac.jp/">酪農学園大学－生きるを学ぶ。学びが生きる。</a></p>
    </div>
    </div>
<p id="explanation">３つの異なるシステムの牛舎があり、循環農法型により約1８0頭の乳牛を飼育しています。フリーストール牛舎は牛が自由に行動・採食できます。自動搾乳システム牛舎は人の手をかけずにロボットで搾乳します。繋ぎ飼い牛舎は1頭1頭の牛をしっかりと管理しながら飼育することができます。このように、さまざまな酪農形態を学ぶことが可能です。 また、草地・飼料畑はキャンパス内に牧歌的な景観を見せています。　</p>
<button type="button" onclick="location.href='./list.html'">紹介されている店・施設の一覧に戻る</button>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2275.920106786969!2d141.5087258463812!3d43.07415929457455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b2da622f4ca45%3A0xced2086948992bb8!2z6YWq6L6y5a2m5ZyS5aSn5a2m!5e0!3m2!1sja!2sjp!4v1592829449425!5m2!1sja!2sjp" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


{% endblock %}