{% extends "base.html" %}
{% block content %}

<div>
    <div>
        <h1 id="nf">404 Not Found</h1>
        <p>お探しのページは見つかりません。</p>
    </div>
    <div id="message">
        <p> この「ぶらり to 江別 」は、プログラミングスクールSUNABACO EBETSUの卒業制作として、チーム"大麻13丁目"の3名によって作られました。<br>至らない点もあるかと思いますが、少しでもお役に立てたら嬉しいです。<br><br>２ヶ月の受講中、SUNABACO講師の皆様、EBETSU4期生の皆様、カレー パンドラ様には、大変お世話になりました。この場合を借りてこっそりと御礼申し上げます。</p>
    </div>
    <img id ="tanuki" src="../static/img/tanuki.png" alt="">


</div>

<button type="button" onclick="onclick=location.href='https://sunabaco.com/'">SUNABACOって何？</button>


{% endblock %}