{% extends "base.html" %}
{% block content %}



<div class="effect-fade">
    <h3>今日はここ行く？徒歩で大麻</h3>
    
    <div class="wark">
        <div class="rand_img" id="wark_img1"></div>
        <div class="random_word">
            <h2 id="wark_place_name1"></h2>
            <p id="wark_words1"></p>
        </div>
    </div>
    <div class="wark">
        <div class="rand_img" id="wark_img2"></div>
            <div class="random_word">
            <h2 id="wark_place_name2"></h2>
            <p id="wark_words2"></p>
        </div>
    </div>
    <div class="wark">
        <div class="rand_img" id="wark_img3"></div>
        <div class="random_word">
            <h2 id="wark_place_name3"></h2>
            <p id="wark_words3"></p>
        </div>
        
    </div>
    <div id ="bottom_ntn">
    <div><a href="/" class="btn-square-above-look" >TOP</a></div>
    <div><a href="#" class="btn-square-above-look" onclick="window.location.reload()">違うとこ</a></div>
    <div><a href="/car_ebetsu" class="btn-square-above-look" >車で大麻</a></div>
    </div>
</div> 
<br>




{% endblock %}