{% extends "base.html" %}
{% block content %}

<div id="navi_wark" onclick="window.location.reload()">徒歩で大麻</div>

<div>
    <div class="wark">
        <div id="wark_img1"></div>
        <div class="random_word">
            <h2 id="wark_place_name1"></h2>
            <p id="wark_words1"></p>
        </div>
    </div>
    <div class="wark">
        <div id="wark_img2"></div>
            <div class="random_word">
            <h2 id="wark_place_name2"></h2>
            <p id="wark_words2"></p>
        </div>
    </div>
    <div class="wark">
        <div id="wark_img3"></div>
        <div class="random_word">
            <h2 id="wark_place_name3"></h2>
            <p id="wark_words3"></p>
        </div>
        
    </div>
</div> 





{% endblock %}