{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/details.css" media="screen and (min-width:480px)">
<link rel="stylesheet" href="../static/css/details_sp.css" media="screen and (max-width:480px)">
<h1>湯川公園</h1>
<div class="info">
    <img src="../static/img_spot/yukawa_park.jpg" alt="">
    <div>
        <p>住所：北海道江別市野幌寿町１９</p>
        <p>お問い合わせ：<a href="tel:">011-381-1045</a></p>
        <p>営業時間：なし</p>
        <p>アクセス：野幌駅前より中央バス「湯川公園」下車</p>
        <p>公式HP：<img src="../static/img/linkicon.jpeg" alt="" id="linkicon"><a href="https://www.city.ebetsu.hokkaido.jp/soshiki/toshikensetu/3140.html">湯川公園 ｜ 北海道江別市公式ウェブサイト</a></p>
    </div>
</div>
<p id="explanation">広い敷地内には、道内では珍しいメタセコイヤの木や、ポプラの大木、栗の木等がある森と、バスケットコートや大きい船の木製遊具のある遊び場や広大な芝生公園があり、森の中ではアカゲラなどの野鳥や小動物の姿を見かけることができます。冬には斜面を利用したソリ遊びや外周を歩くスキーで楽しむ人のためのトイレもあります。</p>
<button type="button" onclick="location.href='./list.html'">紹介されている店・施設の一覧に戻る</button>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2913.169660098904!2d141.5145945157098!3d43.1009492959822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b2df7283f3273%3A0x2760f665f4fe64f6!2z5rmv5bed5YWs5ZyS!5e0!3m2!1sja!2sjp!4v1592912655600!5m2!1sja!2sjp" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


{% endblock %}